@model IEnumerable<ProjetoTCC.Prestacoes>

@{
    /**/

    ViewBag.Title = "Prestações";
}

<h2>Prestações</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item"><a href="#"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></a></li>
        <li class="breadcrumb-item active" aria-current="page">Prestações</li>
    </ol>
</nav>

<p>
    <button type="button" class="btn btn-dark ">@Html.ActionLink("Novo", "Create")</button>
    <button type="button" class="btn btn-dark ">@Html.ActionLink("Gerar prestações", "GeraPrestacoes", "GeraPrestacoes")</button>
</p>

<table class="table table-hover" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membros.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Membros.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contas.Conta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chave)
                </td>
                <td> <!-- Sequência no formato 9999/99 -->
                    @String.Format("{0}/{1}", item.Sequencia.Substring(0, 4), @item.Sequencia.Substring(4, 2))
                </td>
                <td> <!-- Data no formato 99/99/9999 -->
                    @String.Format("{0:d}", item.DtVencimento)
                </td>

                @if (item.Situacao == "A" && item.DtVencimento > DateTime.Now)
                {
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm btn-block" disabled>Em aberto</button>
                    </td>
                }
                else if (item.Situacao == "A" && item.DtVencimento <= DateTime.Now)
                {
                    <td>
                        <button type="button" class="btn btn-danger btn-sm btn-block" disabled>Vencida</button>
                    </td>
                }
                else if (item.Situacao == "P")
                {
                    <td>
                        <button type="button" class="btn btn-success btn-sm btn-block" disabled>Paga</button>
                    </td>
                }
                else
                {
                    <td>
                        <button type="button" class="btn btn-primary btn-sm btn-block" disabled>Anulada</button>
                    </td>
                }

                <td align="right">
                    <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Editar", "Edit", new { nrPrest = item.Nrprest }) </button>
                    <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Detalhes", "Details", new { nrPrest = item.Nrprest }) </button>
                    <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Deletar", "Delete", new { nrPrest = item.Nrprest }) </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable({
                "language": {
                    "url": "/Content/pt-br.json"
                }
            });
        });
    </script>
}