@model IEnumerable<ProjetoTCC.Cargos>

@{
    ViewBag.Title = "Index";
}

<h2>Cargos de diretoria</h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cargos de diretoria</li>
    </ol>
</nav>

<p>
    <button type="button" class="btn btn-dark ">@Html.ActionLink("Novo", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inativo)
            </td>
            <td>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Editar", "Edit", new { id = item.Id }) </button>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Detalhes", "Details", new { id = item.Id }) </button>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Deletar", "Delete", new { id = item.Id }) </button>
            </td>
        </tr>
    }

</table>
