@{
    ViewBag.Title = "Início";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VS Sagittarius</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")

</head>
<body>
    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand">
                <img src="~/img/logo.png" width="50" height="55" />
                @Html.ActionLink("Mutantes MC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand openPage" })
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Definições</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>@Html.ActionLink("Clube", "Details", "Parametros", new { area = "" }, new { @class = "dropdown-item openPage  " })</li>
                            <li>@Html.ActionLink("Usuários", "Index", "Autenticacao", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item openPage dropdown-toggle">Parâmetros</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Tipos de chave", "Index", "TipoChave", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                    <li>@Html.ActionLink("Chaves", "Index", "Chaves", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                    <li>@Html.ActionLink("Contas", "Index", "Contas", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                    <li>@Html.ActionLink("Formas de pagamento", "Index", "FormaPagamento", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                    <li>@Html.ActionLink("Cargos de diretoria", "Index", "Cargos", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                    <li>@Html.ActionLink("Motos", "Index", "Motos", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>@Html.ActionLink("Membros", "Index", "Membros", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                            <li>@Html.ActionLink("Prestações", "Index", "Prestacoes", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                            <li>@Html.ActionLink("Facções", "Index", "Faccoes", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                            <li>@Html.ActionLink("Diretoria", "Index", "Diretoria", new { area = "" }, new { @class = "dropdown-item openPage disabled" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item openPage disabled">Membros</a></li>
                            <li><a class="dropdown-item openPage disabled">Financeiro</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#modalAjuda">Ajuda</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
                <ul class="navbar-nav nav justify-content-end">
                    <li class="nav-item dropdown justify-content-end">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @if (User.Identity.Name != "admin")
                            {
                                <li>@Html.ActionLink("Alterar senha", "AlteraSenha", "Perfil", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                            }
                            <li>@Html.ActionLink("Sair", "Logout", "Autenticacao", new { area = "" }, new { @class = "dropdown-item openPage " })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    }
    <div class="container">
        <br />

        @RenderBody()

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAjuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sobre o sistema</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>VS Sagittarius</h3><h5>v 1.0</h5>
                    Registrado para: <br />
                    Banco de dados:
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/")" type="text/javascript"></script>

</body>
</html>