@model IEnumerable<ProjetoTCC.Motos>

@{
    ViewBag.Title = "Motos";
}

<h2>Motos</h2><nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a></a></li>
        <li class="breadcrumb-item active" aria-current="page">Motos</li>
    </ol>
</nav>

<p>
    <button type="button" class="btn btn-dark ">@Html.ActionLink("Novo", "Create")</button>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cilindrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cilindrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Editar", "Edit", new { Id = item.Id }) </button>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Detalhes", "Details", new { Id = item.Id }) </button>
                <button type="button" class="btn btn-dark btn-sm">@Html.ActionLink("Deletar", "Delete", new { Id = item.Id }) </button>
            </td>
        </tr>
    }

</table>
